<dialog id="details-item-dialog">
  <header class="modal-header">
    <h2 class="modal-heading-details">File/Folder Details</h2>
    <button class="close-modal-btn" id="close-details-modal-btn">
      <span class="material-symbols-outlined close-icon"> close </span>
    </button>
  </header>

  <div class="details-wrapper">
    <div class="details-inner-wrapper">
      <div class="detail-info">
        <p class="details-heading">Name:</p>
        <p class="detail-name"></p>
      </div>
      <div class="detail-info">
        <p class="details-heading">Type</p>
        <p class="detail-type"></p>
      </div>
      <div class="detail-info">
        <p class="details-heading">Created</p>
        <p class="detail-created"></p>
      </div>
      <div class="detail-info">
        <p class="details-heading">Size</p>
        <p class="detail-size"></p>
      </div>
    </div>

    <button class="primary-btn download-btn">Download</button>

    <!-- todo: add dom manipulation to open
    -->

    <!-- TODO: add share feature -->
    <!-- <button>Share</button> -->
  </div>
</dialog>
