* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --primary-blue: oklch(54.6% 0.245 262.881);
  --accent-orange: oklch(75% 0.183 55.934);
}

html,
body {
  height: 100vh;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #efefef;
  /* rgb(248, 250, 253) google drive color */
  display: flex;
  flex-direction: column;
}

dialog {
  display: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 0;
  height: 270px;
  width: 350px;
  border-radius: 4px;
  flex-direction: column;
}

dialog:open {
  display: flex;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

input::file-selector-button {
  background-color: oklch(92.9% 0.013 255.508);
  padding: 16px;
  cursor: pointer;
  margin-right: 8px;
  font-weight: 600;
  border-radius: 6px;
  border: 1px solid oklch(70.4% 0.04 256.788);
}

.file-area {
  padding: 24px 16px;
  cursor: pointer;
  transition: 200ms ease;
}

.file-area:hover {
  background-color: oklch(92.9% 0.013 255.508);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  margin-bottom: 8px;
}

.modal-header > h2 {
  font-size: 20px;
  font-weight: 500;
}

.close-modal-btn {
  background-color: transparent;
  padding: 4px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.close-icon {
  color: grey;
}

.close-modal-btn:hover {
  background-color: oklch(96.396% 0.00299 264.791);
}

.new-file-form-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  padding: 12px;
  flex-grow: 1;
}

.file-input-wrapper {
  display: flex;
  flex-direction: column;
}

.upload-file-btn {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 6px;
  padding: 10px 20px;
}

.upload-file-btn {
  color: white;
}

.hidden {
  display: none;
}

img {
  user-select: none;
}

button {
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 5px;
  transition: filter 0.2s ease;
  border: none;
}

button:hover {
  filter: brightness(0.9);
}

button:focus {
  outline: 2px solid oklch(70.4% 0.04 256.788);
  outline-offset: 1px;
}

.primary-btn {
  color: white;
  font-weight: 600;
  background-color: var(--primary-blue);
}

.secondary-btn {
  font-weight: 600;
  color: var(--primary-blue);
  border: 1px solid var(--primary-blue);
}

input {
  padding: 8px;
  border-radius: 5px;
  border-color: oklch(96.8% 0.007 247.896);
  border: 1px solid oklch(86.9% 0.022 252.894);
}

input:focus {
  outline: 1px solid oklch(70.7% 0.165 254.624);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  border-bottom: 1px solid oklch(86.9% 0.022 252.894);
}

label {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 1.25rem;
  color: oklch(12.9% 0.042 264.695);
  font-weight: 500;
}

/* login/signup authentication form */

.error-message {
  color: oklch(57.7% 0.245 27.325);
  margin-top: 5px;
  font-size: 14px;
}

.log-in-form-wrapper,
.sign-up-form-wrapper {
  display: flex;
  flex-direction: column;
  padding: 24px;
  min-height: 300px;

  background-color: oklch(98.4% 0.003 247.858);
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  max-width: 400px;
  margin: 40px auto; /* center horizontally and add top/bottom spacing */
  border: 1px solid oklch(86.9% 0.022 252.894);
}

.log-in-form,
.sign-up-form {
  display: flex;
  justify-content: start;
  flex-direction: column;
  min-width: 300px;
}

.log-in-form-header,
.sign-up-form-header {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.log-in-form-header > p,
.sign-up-form-header > p {
  font-size: 14px;
  line-height: 1.25rem;
  color: oklch(37.2% 0.044 257.287);
}
.login-username-field,
.signup-username-field {
  margin-bottom: 10px;
}

.login-username-field,
.login-password-field,
.signup-username-field,
.signup-password-field {
  display: flex;
  flex-direction: column;
}

.log-in-btn,
.sign-up-btn {
  margin-top: 20px;
  border-color: oklch(70.4% 0.04 256.788);
  background-color: var(--primary-blue);
  border: 0;
  color: white;
  font-weight: bold;
  border-radius: 8px;
}

/* main */

.log-out-btn {
  padding: 12px 18px;
  color: white;
  font-weight: 600;
  background-color: var(--primary-blue);
}

.nav-sidebar {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
  max-width: 200px;
  height: 100%;
  padding: 16px;
  background-color: oklch(92.9% 0.013 255.508);
  overflow-y: auto;
  gap: 12px;
}

.nav-actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.nav-actions > button {
  padding: 10px;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.nav-item {
  display: flex;
  border-radius: 12px;
  position: relative;
}
.nav-item > a {
  background-color: transparent;
  color: rgb(31, 30, 30);
  font-weight: 400;
  flex-grow: 1;
  padding: 10px;
  font-size: 14px;
}
.nav-item:hover {
  background-color: oklch(86.9% 0.022 252.894);
}

.nav-item.active {
  background-color: oklch(89.365% 0.01693 250.981);
}

.nav-item.active > a {
  font-weight: 500;
}

.nav-item.active::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 60%;
  background-color: var(--accent-orange, #4f46e5);
  border-radius: 2px;
}
