<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>File Uploader</title>

    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header>
      <h1>File Uploader</h1>
      <nav>
        <form action="/log-out" method="post">
          <button class="log-out-btn">Log Out</button>
        </form>
      </nav>
    </header>

    <h2>Welcome, user!</h2>
  </body>
</html>
