<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>File Uploader</title>
  </head>
  <body>
    <h1>File Uploader</h1>

    <a href="/sign-up">Sign Up</a>

    <a href="/log-in">Log In</a>
  </body>
</html>
