<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>File Uploader</title>

    <link rel="stylesheet" href="styles.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('partials/header'); -%>
    <main>
      <%- include('partials/nav'); -%> <% if (activePage === 'home') { %>
      <h3>Your recent files will show up here</h3>

      <% } else { %> <%- include('partials/my-files'); -%> <% }%>
    </main>
  </body>
</html>
