<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>File Uploader</title>

    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <%- include('header'); -%>

    <!-- <h3>My files</h3> -->
    <%- include('nav'); -%>
  </body>
</html>
