<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Log In - File Uploader</title>
  </head>
  <body>
    <h1>File Uploader</h1>

    <h2>Log in</h2>
    <p>Don't have an account yet? <a href="/sign-up">Sign up</a></p>
    <form action="/log-in" method="POST">
      <label for="username">Username</label>
      <input id="username" name="username" type="text" />
      <label for="password">Password</label>
      <input id="password" name="password" type="password" />
      <button type="submit">Log In</button>
    </form>
  </body>
</html>
