<nav class="nav-sidebar">
  <% if (!shared) { %>

  <div class="nav-actions">
    <button class="primary-btn" id="new-folder">
      <span class="material-symbols-outlined"> create_new_folder </span>
      <p>New Folder</p>
    </button>
    <button class="secondary-btn" id="new-file">
      <span class="material-symbols-outlined"> upload_file </span>
      <p>New File</p>
    </button>
  </div>
  <% } %>

  <ul class="nav-list">
    <%if (!shared) { %>
    <li class="nav-item <%= activePage === 'home' ? 'active' : '' %>">
      <a href="/">Home</a>
    </li>
    <%} %>
    <li class="nav-item <%= activePage === 'my-files' ? 'active' : '' %>">
      <a href="<%= shared ? '/share/' + token : '/my-files' %>">My Files</a>
    </li>
  </ul>
  <dialog id="file-dialog">
    <header class="modal-header">
      <h2>New File</h2>
      <button class="close-modal-btn" id="close-file-modal-btn">
        <span class="material-symbols-outlined close-icon"> close </span>
      </button>
    </header>
    <form
      action="/new-file"
      method="post"
      enctype="multipart/form-data"
      class="new-file-form-modal"
      id="file-form"
    >
      <div class="file-input-wrapper">
        <input
          type="file"
          class="file-area"
          name="file"
          id="file-input"
          required
        />
        <p
          class="error-message hidden file-error-message"
          id="file-error-message"
        >
          Failed to upload file
        </p>
      </div>
      <progress
        id="upload-progress"
        class="hidden"
        style="width: 100%"
      ></progress>

      <button type="submit" class="primary-btn upload-file-btn">Upload</button>
    </form>
  </dialog>

  <dialog id="folder-dialog">
    <header class="modal-header">
      <h2>New Folder</h2>
      <button class="close-modal-btn" id="close-folder-modal-btn">
        <span class="material-symbols-outlined close-icon"> close </span>
      </button>
    </header>
    <form
      action="/new-folder"
      method="post"
      class="new-folder-form-modal"
      id="folder-form"
    >
      <div class="folder-input-wrapper">
        <label for="folder-input">Folder Name</label>
        <input type="text" name="folder" id="folder-input" required />
        <p
          class="error-message hidden folder-error-message"
          id="folder-error-message"
        >
          Failed to create folder
        </p>
      </div>

      <button type="submit" class="primary-btn create-folder-btn">
        Create
      </button>
    </form>
  </dialog>
</nav>
<script type="module" src="/scripts/nav.js"></script>
